pkgbase = 1bit-systems-git
	pkgdesc = DEPRECATED packaging draft for 1bit-systems; use install.sh until AUR is refreshed
	pkgver = r0.0000000
	pkgrel = 2
	url = https://1bit.systems
	arch = x86_64
	license = MIT
	makedepends = git
	depends = xrt
	depends = xrt-plugin-amdxdna
	depends = rocm-hip-sdk
	depends = nodejs
	depends = curl
	depends = python
	provides = 1bit-systems
	conflicts = 1bit-systems
	conflicts = 1bit-systems-bin
	source = 1bit-systems::git+https://github.com/bong-water-water-bong/1bit-systems.git#branch=main
	sha256sums = SKIP

pkgname = 1bit-systems-git
