[submodule "engine/zaya"]
	path = engine/zaya
	url = https://github.com/Juste-Leo2/llama.cpp.git

[submodule "engine/video/stable-diffusion.cpp"]
	path = engine/video/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp

[submodule "jarvis-mobile"]
	path = jarvis-mobile
	url = https://github.com/bong-water-water-bong/1bit-mobile.git
[submodule "token-router"]
	path = token-router
	url = ./token-router
